<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% users.forEach(function (value, key) { %>
      <p><%= key %>: <%= value %></p>
    <% }); %>

    <form action="/create/" method="post">
      <label for="last_name">名前(姓): </label>
      <input id="last_name" type="text" name="name_field" value="Default name for team.">
      <label for="first_name">名前(名): </label>
      <input id="first_name" type="text" name="name_field" value="Default name for team.">
      <label for="email">メールアドレス: </label>
      <input id="email" type="text" name="name_field" value="Default name for team.">
      <input type="submit" value="OK">
  </form>

  </body>
</html>